<h1>{{title}}</h1>

<form method="get" action="http://www.google.com/search" target="_blank" >
  <div class="form-group">
    <label for="input1">Keyword</label>
    <input type="text" class="form-control" id="input1" name="q" placeholder="Keyword">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
